<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>SunnySide Middle School</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./styles/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./js/student_idx.js"></script>
<script src="./js/adult_idx.js"></script>
<script src="./js/materialize.js"></script>
<script src="./js/init.js"></script>