<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>SunnySide Middle School</title>


<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/styles.css" media="screen" title="no title" charset="utf-8">
  
  <title>Home Page</title>
</head>


    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./styles/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="https://code.jquery.com/jquery.js"></script>
 	  <script src="./js/student.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

