
<!-- THIS IS THE EVENTS PAGE-->

<nav class="black lighten-1" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Sunnyside Middle School</a>
		<ul id="nav-full" class="right hide-on-med-and-down">
			<li><a href="#">Admin</a></li>
		</ul>
		<ul id="nav-mobile" class="sidenav">
			<li><a href="#">Admin</a></li>
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
</nav>

<main>

<div class="section no-pad-bot" id="index-banner">
	<div class="container">

		<h1 class="header center black-text font-family times">Calendar</h1>
		<div class="row">
			<div class="col s12 m3">
				<a href="student" id="std-btn" class="btn-large waves-effect waves-light yellow black-text">Student</a>
			</div>
			<div class="col s12 m3">
				<a href="adult" id="adt-btn" class="btn-large waves-effect waves-light yellow black-text">Adult</a>
			</div>
			<div class="col s12 m3">
				<a href="homepage.html" id="inv-btn"
				   class="btn-large waves-effect waves-light yellow black-text">Calendar</a>
			</div>
			<div class="col s12 m3">
				<a href="https://www.betonline.ag/?btag=UBNDi0sHIUhMgOpcks6aXWNd7ZgqdRLk&affid=84680" target="_blank"
				   id="bet-btn" class="btn-large waves-effect waves-light yellow black-text">Make a Bet!</a>
			</div>
		</div>
		<br><br>
	</div>
</div>

<div class="container">
	<div class="section">
		<div class="col s3 m3 l3">
			<table class="z-depth-5">
				<thead>
				<tr>
					<th>Upcomming Games & Practices</th>
				</tr>
				</thead>
				<tbody>
				{{#each event}}
					{{>event/event-block}}
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s12 m3">
			<a href="#" id="download-button" class="btn-large waves-effect waves-light yellow black-text">Add an
				Event</a>
		</div>
	</div>
</div>
<br>
<br>
</main>
<footer class="page-footer black">
	<div class="container">
		<div class="row">
			<div class="col l4 s12">
				<h5 class="white-text">Sunnyside Middle School</h5>
				<p class="grey-text text-lighten-4"> Sports Manager provides schools, teachers and coaches the ability to organize and manage their sports teams, rosters, emergency contact info and game calendars. Additionaly, integration with the Twilio API provides an easy way to communicate with students and families via SMS.</p>
			</div>

			<div class="col l3 s12">
				<br>
			</div>

			<div class="col l3 s12">
				<h5 class="white-text">Navigate</h5>
				<ul>
					<li><a class="white-text" href="student">Student Page</a></li>
					<li><a class="white-text" href="adult">Adult Page</a></li>
					<li><a class="white-text" href="homepage.html">Calendar</a></li>
					<li><a class="white-text" href="/">Home Page</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
	</div>
</footer>


<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./js/materialize.js"></script>
<script src="./js/adult.js"></script>
<script src="./js/student_ro.js"></script>
<script src="./js/init.js"></script>

<!--</body>-->
<!--</html>-->
