  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Sunnyside Middle School</a>
      <ul id="nav-full" class="right hide-on-med-and-down">
        <li><a href="#">Admin</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Admin</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
    
      <h1 class="header center black-text font-family times">Students</h1>
      <div class="row">
        <div class="col s12 m3">
          <a href="#" id="std-btn" class="btn-large waves-effect waves-light yellow black-text">Student</a>
        </div>
        <div class="col s12 m3">
          <a href="#" id="adt-btn" class="btn-large waves-effect waves-light yellow black-text">Adult</a>
        </div>
        <div class="col s12 m3">
          <a href="#" id="inv-btn" class="btn-large waves-effect waves-light yellow black-text">Inventory</a>
        </div>
      <div class="col s12 m3">
        <a href="#" id="bet-btn" class="btn-large waves-effect waves-light yellow black-text">Make a Bet!</a>
      </div>
    </div>
    <br><br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <table class="z-depth-5 highlight">
          <thead>
            <tr>
              <th colspan=2>Student List</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            {{#each student}}
              {{>student/student-block}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col s12 m4 l4">
        {{>student/student-form-block}}
      </div>
      <div class="col s12 m4 l4">
        <div class="row">
          <table class="z-depth-5 highlight">
            <thead>
              <tr>
                <th colspan=2>Adult Contacts</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Contact Type</th>
              </tr>
            </thead>
            {{!-- updated using jQuery based on should be done from database --}}
            <tbody id="adult-list">
            </tbody>
          </table>
        </div>
        <div class="row">
          <table class="z-depth-5 highlight">
            <thead>
              <tr>
                <th colspan=2>Team List</th>
              </tr>
              <tr>
                <th>Team</th>
                <th>Sport</th>
              </tr>
            </thead>
            {{!-- updated using jQuery based on should be done from database --}}
            <tbody id="team-list">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
  <div class="col s12 m3">
    <a href="student" id="reset-button" class="btn-small waves-effect waves-light yellow black-text">Reset</a>
    <a href="cud_student" id="cud_student" class="btn-small waves-effect waves-light yellow black-text">Create/Modify Student</a>
    {{!-- <a href="#" id="download-button" class="btn-large waves-effect waves-light yellow black-text">Add A Player</a> --}}
    </div>
  </div>
</div>

<br><br>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">account_box</i></h2>
          <h5 class="center">Adults</h5>
            <table>
           <tbody>
              <tr id="adultList" class="black-text grey">
              </tr></table>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Teams</h5>

          <table>
            <tbody>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr></table>        
              </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
          <h5 class="center">Forms</h5>

          <table>
            <tbody>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr>
               <tr>
                 <td>name</td>
                 
               </tr></table>
                      </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">accessibility</i></h2>
      </div>
    </div>

  </div>
  <br><br>
</div>


  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Sunnyside Middle School</h5>
          <p class="grey-text text-lighten-4"> JailBase provides mugshots and arrest information to the public for free. We have an easy to use web api so your website or application can access our extensive county jail inmate data. Using the API, you can search for arrested and booked individuals in county jails.</p>

        </div>

        <div class="col l3 s12">
            <br>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Navigate</h5>
          <ul>
            <li><a class="white-text" href="#!">Student Page</a></li>
            <li><a class="white-text" href="#!">Adult Page</a></li>
            <li><a class="white-text" href="#!">Inventory Page</a></li>
            <li><a class="white-text" href="#!">Admin Page</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
     
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {{!-- what are these _idx files for? I dont see them can we delete these? --}}
  <script src="./js/materialize.js"></script>
  <script src="./js/student_ro.js"></script>
  <script src="./js/init.js"></script>

  </body>
</html>