 <form class="col s12 z-depth-5 student-form">
      <div class="formHeader">Student Details</div>
      {{!-- play with HR for line --}}
      <hr>
      <div class="row">
        <div class="input-field col s6">
          <input type="hidden" id="studId" name="studId">
          <input placeholder="First Name" id="first_name" type="text" class="validate" disabled>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="last Name" id="last_name" type="text" class="validate" disabled >
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">

          <input placeholder="Gender" id="gender" type="text" class="validate center" disabled >
          <label>Gender</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Grade" id="grade" type="text" class="validate center" disabled >
          <label>Grade</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea_allergies" class="materialize-textarea" readonly></textarea>
          <label for="textarea_allergies">Allergies</label>
        </div>
      </div>
</form>